[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
pyspark = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pysparkling = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
